$bgImage: url(../img/bg.png);
$fontFamily: 'Oswald', sans-serif;
$color-active: #29c5e6;
$color-text-active: #fff;
$color-main: #b2b2b2;
$bg-color: #f3f3f3;
$color-border: #e7e7e7;

// font-weight
$light: 100;
$regular: 400;
$bold: 600;